body {
	background: #535353;
	color: #e7e7e7;
}

span.btn {
	background-image: linear-gradient(bottom, rgb(99,99,99) 0%, rgb(116,116,116) 100%);
	background-image: -o-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(116,116,116) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(116,116,116) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(116,116,116) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(99,99,99) 0%, rgb(116,116,116) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(99,99,99)),
		color-stop(1, rgb(116,116,116))
	);
	border: 1px solid #272727;
}

span.btn a {
	border-top: 1px solid #919191;
	color: #e7e7e7;
}

span.btn:hover {
	background-image: linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -o-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(115,115,115) 0%, rgb(130,130,130) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(115,115,115)),
		color-stop(1, rgb(130,130,130))
	);
	color: #212121;
}

span.btn:active {
	background-image: linear-gradient(bottom, rgb(63,63,63) 100%, rgb(55,55,55) 0%);
	background-image: -o-linear-gradient(bottom, rgb(63,63,63) 100%, rgb(55,55,55) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(63,63,63) 100%, rgb(55,55,55) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(63,63,63) 100%, rgb(55,55,55) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(63,63,63) 100%, rgb(55,55,55) 0%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(63,63,63)),
		color-stop(0, rgb(55,55,55))
	);
	color: #212121;
}

span.btn:active a { border-top: 1px solid #333; }
div.statusbar p { color: #999; }
div.statusbar p em { color: #c0c0c0; }
div.subpanel p { background-image: url(../img/arrow-collapsed-dark.png); }
div.subpanel.expanded p { background-image: url(../img/arrow-expanded-dark.png); }
div.statusbar div { background-color: rgba(65, 65, 65, 0.8); }
