body {
	margin: 8px 12px 12px 12px;
	background: #535353;
	overflow: hidden;
	font-size: 10px;
}

span.btn {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
	box-shadow: 0 1px 0px rgba(255,255,255,0.12);
	margin: 0 2px 4px 0;
}

span.btn a {
	display: inline-block;
	padding: 0 10px 0 10px;
	height: 22px;
	line-height: 22px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
}

span.btn:hover { cursor: default; }

div.options { margin: 2.5em 0 0 0; }

span.btn a.options {
	background: url(../img/gear.png) 4px 3px no-repeat;
	padding-left: 24px;
}

div.actions {
	width: 90%;
	text-align: center;
	margin: 0 auto 0 auto;
}

div.actions {
	text-align: left;
}
