body {
	margin: 8px 12px 12px 12px;
	background: #535353;
	overflow: hidden;
}

div.actions {
	width: 185px;
	text-align: center;
	margin: 0 auto 0 auto;
}

div.actions span.button {
	width: 60px;
	margin: 0 0 0 0;
}

div.actions div {
	text-align: left;
	float: left;
}

div.actions div.options { margin-top: 15px; }
div.actions span.button.options { width: auto; }

p {
	color: #e7e7e7;
	margin: 10px 0 5px 0;
	font-size: 10px;
}


span.button.options a.icon {
	background-position: -1px -1px;
	background-image: url(../img/gear.png);
}

span.button {
	background: url(../img/button.png) right top no-repeat;
	padding-right: 3px;
	margin: 2px;
	display: inline-block;
	font-size: 10px;
}

span.button .inner {
	width: 57px;
	text-align: center;
	display: inline-block;
	background: url(../img/button.png) left top no-repeat;
	height: 16px;
	padding: 6px 2px 4px 2px;
}

span.button a.icon { display: inline-block; }

span.button a {
	text-decoration: none;
	background-repeat: no-repeat;
}

span.button:hover, span.button:hover .inner { background-image: url(../img/button-hover.png); }
span.button:active, span.button:active .inner { background-image: url(../img/button-down.png); }
	

small {
	clear: right;
	text-align: center;
	display: block;
	margin: 30px 0 0 0;
	font-size: 9px;
	color: #e7e7e7;
}

a { color: #e7e7e7; }

.clear {
	height: 0;
	clear: both;
	font-size: 0;
	line-height: 0;
}

/*span.button a.icon { padding: 0 6px 5px 18px; }*/

div.slider-container {
	margin: 5px 0 5px 0;
	font-size: 9px;
}

label { margin: 0 5px 0 0; }
span.padding { margin: 0 0 0 10px; }

#slider {
	display: inline-block;
	width: 150px;
}

.ui-widget-content {
	border: 1px solid #aaa;
	background: #fff;
	color: #222;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: url(../img/slider-handle.png) 0 4px no-repeat;
	padding-bottom: 4px;
	font-weight: normal;
	color: #e7e7e7;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; }
*:inner-child+html .clearfix { zoom: 1; }
